version: "3"

services:
  web:
    image: nginx
    ports:
      - "8080:80" # port_localhost: port_container
  db:
    image: postgres
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
